@use "variables" as v;
@use "mixins" as m;
@use "sass:color" as color;

/*LIBROS CONTAINER*/
//MIRAR CARDS
.libros__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    gap: 20px;
    .card{
        justify-content: center;
        position: relative;
        text-align: center;
        transition: transform 500ms ease;
        gap: 10px;
        // padding: 15px;
        overflow: hidden;
        .libro__info{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 5px;
            text-align: left;

            .libro__precio{
                font-size: 1.5rem;
            }
            .libro__titulo{
                font-size: 1rem;
                font-weight: bolder;
            }
            .libro__autor{
                font-size: 0.8rem;
            }
        }

        &:hover{
            transform: scale(1.05);
        }
        button{
            @include m.btn(v.$green, v.$white);
            position: absolute;
            bottom: 0;
            width: 90%;
            transform: translateY(101%);
            /* transition: all 1s ease; */
            transition: transform 1s ease;

            // &:hover{
            //     background-color: color.scale(v.$green, $lightness: -30%);
            // }
        }
        &:hover button{
            transform: translateY(0%);
            margin-bottom: 20px;
        }
}
}