@use "variables" as v;
h1{
    font-family: v.$main_font;
    font-size: 1.3rem;
}

main{
    .title__container{
        text-align: center;
        h1{
            display: inline-block;
            position: relative;
            &::after{
                content: "";
                display: block;
                position: absolute;
                bottom: 0px;
                background-color: v.$green;
                height: 2px;
                width: 100%;
            }
        }
    }
    // h1{
    //     border: 1px solid red;
    //     position: relative;
    //     padding-bottom: 3px;
    // }
}

/*LIBROS CONTAINER*/
//MIRAR CARDS
.libros__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    // display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    .card{
        justify-content: center;
        position: relative;
        text-align: center;
        transition: transform 500ms ease;
        gap: 10px;
        padding: 15px;
        overflow: hidden;
        .libro__info{
            display: flex;
            flex-direction: column;
            align-items: center;

            .libro__precio{
                font-size: 1.5rem;
            }
        }
        // figure{
        //     width: 60%;
        // }

        &:hover{
            transform: scale(1.05);
        }
        button{
            padding: 5px 10px;
            background-color: #369a36;
            color: white;
            border: 1px solid black;
            border-radius: 3px;
            font-size: 1.3rem;
            position: absolute;
            bottom: 0;
            transform: translateY(101%);
            /* transition: all 1s ease; */
            transition: transform 1s ease;

            &:hover{
                background-color: #157315;
            }
        }
        &:hover button{
            transform: translateY(0%);
            margin-bottom: 20px;
        }
}
}