@use "variables" as v;
@use "sass:color" as color;

/*Mixin para crear efecto en los enlaces del nav*/
@mixin efectoNavLinks($color, $altura, $seg){
    &::before{
        content: "";
        position: absolute;
        // clip-path: polygon(50% 70%, 50% 80%, 50% 80%, 50% 70%);
        bottom: 5px;
        display: block;
        background-color: $color;
        height: $altura;
        width: 0%;
        transition: all $seg;
    }
    &:hover::before{
        width: 75%;
    }
}

// Mixin para crear un botón
@mixin btn($bgcolor, $fcolor){
    background-color: $bgcolor;
    border-radius: 0.7rem;
    border: none;
    color: $fcolor;
    display: block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;

    // &:hover{
    //     background-color: color.scale($bgcolor, $lightness: -30%);
    //     cursor: pointer;
    // }
}



//Media-query
// Media queries
@mixin mobile{
    @media screen and (min-width: v.$small) {
        @content;
    }
}
@mixin tablet{
    @media screen and (min-width: v.$medium) {
        @content;
    }
}
@mixin desktop{
    @media screen and (min-width: v.$big) {
        @content;
    }
}