@use "variables" as v;
@use "mixins" as m;
.nav-top{
    font-family: v.$main_font;
    font-size: v.$tam-nav;
    a{
        color: v.$white;
    }
    .items{
        flex: 0;
    }
    .cuenta-carrito{
        color: v.$white;
        img{
            height: v.$tamNavIcon;
            width: v.$tamNavIcon;
        }
    }
    input[type="text"]{
        border-radius: 10px;
    }
}

nav{
    background-color: v.$dark-green;
    color: v.$white;
    font-size: v.$tam-nav;

    .nav__options{     
        .nav-link{
            color: v.$white;
            position: relative;
            @include m.efectoNavLinks(v.$white, 3px, .3s);
        }
       @include m.tablet{
            width: 50%;
            margin: 0 auto;
       }
    }

}