nav{
    display: flex;
    align-items: center;
    .logo__container{
        width: 20%;
        min-width: 180px;
        img{
            width: 100%;
        }
    }

    #container__collapse{
        display: flex;
        justify-content: space-between;

        
    }
}