@use "variables" as v;
@use "mixins" as m;
.nav-top{
    font-family: v.$main_font;
    font-size: v.$tam-nav;
    a{
        color: v.$white;
    }
    .items{
        flex: 0;
    }
    .cuenta-carrito{
        color: v.$white;
        img{
            height: v.$tamNavIcon;
            width: v.$tamNavIcon;
        }
    }
    input[type="text"]{
        border-radius: 10px;
    }
}
.carrito__container{
    position: relative;
    span{
        font-size: 0.8rem;
        padding: 3px;
        background-color: v.$dark-green;
        color: white;
        border-radius: 50%;

        position: absolute;
        bottom: -12px;
        right: -10px;
        // transform: skew(-10deg);
    }
}
nav{
    font-family: v.$main_font;
    background-color: v.$dark-green;
    color: v.$white;
    font-size: v.$tam-nav;
    .toggler__button{
        height: 30px;
    }
    .nav__options{     
        .nav-link{
            color: v.$white;
            position: relative;
            @include m.efectoNavLinks(v.$white, 3px, 5px, .3s);
        }
       @include m.tablet{
            width: 50%;
            margin: 0 auto;
       }
    }

}