@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Work+Sans&display=swap');
//Colores
$green: #219250;
$dark-green: #0F7238;

//Reseteo bootstrap
$navbar-light-color: #fff;
figure{
    margin: 0 !important; //Buscar variable en bootstrap
}
//Fuentes
$main_font: "Montserrat";
$second_font: ""
