@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Work+Sans&display=swap');
//Colores
$green: #219250;
$dark-green: #0F7238;
$white: #fff;
$black: #111111;
$boder-input: #85e1ab;
$nav-dark: #1f1f1f;
$blue: #5796e8;
$red: #ff4747;

//RESETEO BOOTSTRAP
// NAV
$navbar-light-color: $white; /*Color de los nav links*/
$navbar-light-hover-color: $white;
// $navbar-light-toggler-icon-bg: "url('uploads/toggler.svg')"; //Imagen del toggler
$navbar-toggler-focus-width: 0; //Borde del ancho cuando se pulsa el toggler
$navbar-light-toggler-border-color: transparent; //Borde del toggler

// PAGINATION
// $pagination-focus-bg: $green;
$pagination-active-bg: $green;
$pagination-border-color: $dark-green;

//Formularios
$input-btn-padding-y:         .375rem;
$input-btn-padding-x:         .75rem;
$input-btn-focus-width:         .10rem;
$input-btn-focus-color-opacity: .25;
$input-btn-focus-color: $boder-input;
$input-btn-focus-blur:          0;
$input-btn-focus-box-shadow:    0 0 $input-btn-focus-blur $input-btn-focus-width $input-btn-focus-color;

//Tamaños
$tamNavIcon: 25px;
$tam-nav: 1.1rem;
$tam-footer-icon: 20px; 

//Tamaños media-queries
$small: 480px;
$medium: 768px;
$big: 1024px;

//Fuentes
$main_font: "Montserrat";
$second_font: "Work Sans"
