@use "../base/variables" as v;
@use "../base/mixins" as m;

#calendar{
    width: 100%;
    @include m.desktop{
        width: 65%;
        // height: fit-content;
    }
    .fc-daygrid-event-harness{
        font-size: .8rem;
    }
}